<!DOCTYPE html>
<html lang="en">
{% extends 'storeadmin/index.html' %}
{% block body_block %}
{% load static %}
<section style="background-position: 50% 50%; " class="no-margin  vc_row-fluid vc_custom_1423306002498">
  <div class="container">
    <div style="background-color: rgba( 0, 0, 0,  );  background-image: url("{% static "images/congruent_outline5cad.png" %}"  );" class="section-overlay"></div>
    <div class="row">
      <div class="col-md-12 vc_column_container">
        <div class="wpb_wrapper">
          <script>jQuery(document).ready( function($){ $("head").append( '  		<style>  			.title.hDrjehnufz h3{  				color: #0000cc; text-transform:uppercase; 			}  			.title.hDrjehnufz p{  				color: #ffffff;  			}  		</style>  	' ); });</script>
          <div class="title title-divider hDrjehnufz">
            <h3>Functionalities</h3>
            <p>
              <!--Hurry and book your trip at special holiday discount-->
            </p>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1421946657641">
            <div class="col-md-3 vc_column_container">
              <div class="wpb_wrapper">
                <div class="white-block room-item  room-element">
                  <div class="room-media">
                    <div class="embed-responsive embed-responsive-16by9"><img width="800" height="450" alt="International Tours" class="embed-responsive-item wp-post-image" semalt-src="{% static "images/ellora.png" %}"></div>
                  </div>
                  <!--<div title="Price per night" class="room-info-price animation"> <span class="price-calc">$123.00</span> </div>-->
                  <div class="content-padding"> <a class="room-title" href="{% url 'manufacture' %}">
                    <h5>MANUFACTURER</h5>
                    </a> </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="wpb_wrapper">
                <div class="white-block room-item  room-element">
                  <div class="room-media">
                    <div class="embed-responsive embed-responsive-16by9"><img width="800" height="450" alt="Tours In India" class="embed-responsive-item wp-post-image" semalt-src="{% static "images/ellora.png" %}"></div>
                  </div>
                  <!--<div title="Price per night" class="room-info-price animation"> <span class="price-calc">$450.00</span> </div>-->
                  <div class="content-padding"> <a class="room-title" href="{% url 'aircraft' %}">
                    <h5>AIRCRAFTS</h5>
                    </a> </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 vc_column_container">
              <div class="wpb_wrapper">
                <div class="white-block room-item  room-element">
                  <div class="room-media">
                    <div class="embed-responsive embed-responsive-16by9"><img width="800" height="450" alt="Gujarat Tours" class="embed-responsive-item wp-post-image" semalt-src="{% static "images/ellora.png" %}"></div>
                  </div>
                  <div class="content-padding"> <a class="room-title" href="{% url 'service' %}">
                    <h5>SERVICE</h5>
                    </a> </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="wpb_wrapper">
                <div class="white-block room-item  room-element">
                  <div class="room-media">
                    <div class="embed-responsive embed-responsive-16by9"><img width="800" height="450" alt="Cruise Holidays" class="embed-responsive-item wp-post-image" semalt-src="{% static "images/ellora.png" %}"></div>
                  </div>
                  <div class="content-padding"> <a class="room-title" href="Cruise-Holidays-2.html">
                    <h5>ORDERS</h5>
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="col-md-12 vc_column_container">
              <div class="wpb_wrapper">
                <script>jQuery(document).ready( function($){ $("head").append( '  	<style>  		.XpniLodYIZ, .XpniLodYIZ:active, .XpniLodYIZ:visited, .XpniLodYIZ:focus{  			display: inline-block;  			  			color: #ffffff;  			  		}  		.XpniLodYIZ:hover{  			display: inline-block;  			background-color: #ffffff;  			color: #232323;  		}		  	</style>  	' ); });</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- -->
<section style="background-position: 50% 50%; " class="no-margin video-section vc_row-fluid vc_custom_1423306052324">
  <div class="container">
    <div style="background-color: rgba( 0, 0, 0, 0.6 );  background-image: url( images/cross-stripes.png);" class="section-overlay"></div>
    <div class="row">
      <div class="col-md-12 vc_column_container">
        <div class="wpb_wrapper">
          <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="col-md-6 vc_column_container">
              <iframe width="1200" height="400" src="https://www.youtube.com/embed/Fop6Qu2CN0E?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            <<div class="col-md-2 vc_column_container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}